
p.final-pagina#rodape{
  border-bottom: 1px solid #000;
  background-color: #CCC;
  padding: 12px;
  text-align: center;
}

.nova{
 color: red; 
}

article > p{
  margin-left: 12px;
  margin-right: 12px;

}

main > article section > p.coordenadores body #principal article section, p.coordenadores{

}


body #principal article section p.coordenadores{

}

#principal p.promocao{
  padding: 20px;
  border-bottom: #CCC 1px solid;
}

article p{
  padding: 12px;

}

.curso, .novo-curso, #contato{
  background-color: aliceblue;
}

.novo-curso{
  color: red;
}

/*.novo-curso{
  background-color: aliceblue;
  color: red;
}

.curso{
  background-color: aliceblue;
}*/


p.promocao {
  text-align: center;
  background-color: yellow;
}

/* .promocao{
  text-align: center;
  background-color: yellow;
} */


/*p#descricao{
  color: blue;
  text-align: center;
}*/

#titulo{
  text-align: center;
  border-bottom: 1px dashed black;
  
  background-color: lightsalmon;
  color: darkgray;
}

h1{
  color: yellow;
  text-align: center;
}



p{  
  border: solid 1px black;
  color: blue;
}

#descricao{
  color: red;
}

em{
  color: blueviolet;
  background-color: orange;
}
 